xml2/adrecesinternet.xsd

<?xml version="1.0" encoding="UTF-8"?><!--declaració document xml-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--el prefijo xs indica un tipo de dato en xsd-->
 <xs:element name="adreint">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="pagina" maxOccurs="unbounded">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="nom" type="xs:string"/>
 <xs:element name="descripcio" type="xs:string"/>
 <xs:element name="url" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>
